{% extends 'User/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Old Password</td>
                <td><input type="password" name="oldpswd" id=""></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="newpswd" id=""></td>
            </tr>
            <tr>
                <td>Re-Type Password</td>
                <td><input type="password" name="repswd" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Change Password">
                    <input type="reset" value=" Cancel"></td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>
{% if error %}
<script>
    alert("{{error}}");
    window.location="{% url 'User:changepassword' %}"
</script>
{% endif %}

{% endblock %}