<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
</head>
<body>
    <a href="{% url 'User:myprofile' %}">Profile</a>
    

    <a href="{% url 'User:complaint' %}">Complaint</a>

    <a href="{% url 'User:feedback' %}">Feedback</a>
    <a href="{% url 'User:myappoinment' %}">My Appionment</a>
    <a href="{% url 'User:vetinaryhospital' %}"> Hospital</a>



    

    
</body>
</html>