{% extends 'User/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Pets</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>#</td>
                <td>Photo</td>
                <td>Name</td>
                <td>Type</td>
                <td>Breed</td>
                <td>Age</td>
                <td>Action</td>
            </tr>
            {% for i in view %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img src="{{i.pet_photo}}" width="150" height="150" alt="" ></td>
                <td>{{i.pet_name}}</td>
                <td>{{i.breed.type_name}}</td>
                <td>{{i.breed.breed_name}}</td>
                <td>{{i.pet_age}}</td>
                <td><a href="{% url 'User:viewgallery' i.id %}">Gallery</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>

{% endblock %}